In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
# chars_df = pd.read_pickle('file_name.pickle')
# chars_df.head()

In [3]:
# chars_df['char_gender'].value_counts()

In [4]:
# f_chars = chars_df.loc[chars_df['char_gender'] == 'she/her']
# print(f_chars.shape)

# m_chars = chars_df.loc[chars_df['char_gender'] == 'he/him/his']
# print(m_chars.shape)

# nb = ['they/them/their','ze/zem/zir/hir']
# nb_chars = chars_df[chars_df.char_gender.isin(nb)]
# print(nb_chars.shape)

### Exploratory anaysis with one book
#### The Left Hand of Darkness
The next few cells are focused on one book: _The Left Hand of Darkness_ by Ursula K. LeGuin. This is a famous example of a book with characters who can change sex as an adult. In this book, however, she refers to the main character with male pronouns. We want to step through a bit of basic verification to see what this looks like. The three characters we are pulling are Genly, an exclusively male character, Estraven, an alien who can change sex but uses male pronouns in the book, and King Argaven, a "male" alien who carries a pregnancy.

In [5]:
# dont need
# lhd_book = pd.read_json('data/dan_booknlp/mdp.39015052467530/mdp.39015052467530.book')
# # lhd_book.reset_index()
# lhd_book

In [6]:
# read in json, normalize data
t = open('data/dan_booknlp/mdp.39015052467530/mdp.39015052467530.book')
temp_json = json.load(t)
lhd_book = pd.concat([pd.DataFrame(temp_json), 
                pd.json_normalize(temp_json['characters'])], 
                axis=1)

#drop characters column
lhd_book = lhd_book.drop('characters', axis=1)
lhd_book.head()

,agent,patient,mod,poss,id,count,g.inference.he/him/his,g.inference.she/her,g.inference.they/them/their,g.inference.xe/xem/xyr/xir,g.inference.ze/zem/zir/hir,g.argmax,g.max,g.total,mentions.proper,mentions.common,mentions.pronoun,g
0,"[{'w': 'told', 'i': 337}, {'w': 'told', 'i': 4...","[{'w': 'taught', 'i': 344}, {'w': 'lost', 'i':...","[{'w': 'ona', 'i': 442}, {'w': 'sure', 'i': 44...","[{'w': 'report', 'i': 333}, {'w': 'homeworld',...",0,2784,0.805,0.010,0.154,0.012,0.019,he/him/his,0.805,391.766,[],[],"[{'c': 1512, 'n': 'I'}, {'c': 419, 'n': 'me'},...",NaN
1,"[{'w': 'explained', 'i': 3066}, {'w': 'stood',...","[{'w': 'forcing', 'i': 4333}, {'w': 'follow', ...","[{'w': 'obliging', 'i': 3078}, {'w': 'famous',...","[{'w': 'kindness', 'i': 3120}, {'w': 'house', ...",385,731,0.805,0.112,0.083,0.000,0.000,he/him/his,0.805,1100073.796,"[{'c': 192, 'n': 'Estraven'}, {'c': 11, 'n': '...",[],"[{'c': 157, 'n': 'he'}, {'c': 91, 'n': 'his'},...",NaN
2,"[{'w': 'want', 'i': 13840}, {'w': 'have', 'i':...","[{'w': 'have', 'i': 2738}, {'w': 'believe', 'i...","[{'w': 'insane', 'i': 6215}, {'w': 'refugee', ...","[{'w': 'box', 'i': 13818}, {'w': 'machine', 'i...",384,231,0.811,0.113,0.077,0.000,0.000,he/him/his,0.811,4600011.839,"[{'c': 46, 'n': 'Mr. Ai'}, {'c': 6, 'n': 'the ...",[],"[{'c': 38, 'n': 'you'}, {'c': 34, 'n': 'I'}, {...",NaN
3,"[{'w': 'knows', 'i': 6268}, {'w': 'believes', ...","[{'w': 'tell', 'i': 6240}, {'w': 'told', 'i': ...","[{'w': 'king', 'i': 6318}, {'w': 'member', 'i'...","[{'w': 'power', 'i': 6344}, {'w': 'kingdom', '...",397,194,0.856,0.042,0.102,0.000,0.000,he/him/his,0.856,600017.951,"[{'c': 28, 'n': 'Argaven'}, {'c': 25, 'n': 'Ka...",[],"[{'c': 25, 'n': 'his'}, {'c': 24, 'n': 'he'}, ...",NaN
4,"[{'w': 'ascends', 'i': 1424}, {'w': 'mounts', ...","[{'w': 'awaits', 'i': 1574}, {'w': 'Trust', 'i...","[{'w': 'patriot', 'i': 6805}, {'w': 'sure', 'i...","[{'w': 'presence', 'i': 914}, {'w': 'Hearths',...",605,179,1.000,0.000,0.000,0.000,0.000,he/him/his,1.000,44.000,[],"[{'c': 58, 'n': 'the king'}, {'c': 13, 'n': 'T...","[{'c': 25, 'n': 'I'}, {'c': 16, 'n': 'his'}, {...",NaN

In [7]:
lhd_entit = pd.read_csv('data/dan_booknlp/mdp.39015052467530/mdp.39015052467530.entities', sep='\t')

In [8]:
lhd_entit.head()

,COREF,start_token,end_token,prop,cat,text
0,584,6,22,NOM,FAC,NIVERS THE UN CHIGAN • LIBRE BRARIES THE LEFT ...
1,1,24,32,PROP,FAC,URSULA K. LEGUIN WALKER AND COMPANY New York UGL
2,374,48,48,PROP,PER,Ursula
3,2,50,50,PROP,GPE,LeGuin
4,585,96,97,NOM,PER,the Publisher

In [9]:
lhd_entit['text']

0        NIVERS THE UN CHIGAN • LIBRE BRARIES THE LEFT ...
1         URSULA K. LEGUIN WALKER AND COMPANY New York UGL
2                                                   Ursula
3                                                   LeGuin
4                                            the Publisher
                               ...
15023                                          Onnetherhad
15024                                               Odyrny
15025                                          Ottormenbod
15026                                                   my
15027                                             MICHIGAN
Name: text, Length: 15028, dtype: object

### Get Character References for each character
For each of the three named characters we cared about, we need to make sure we capture all the different references associated with them, since the underlying data may code one character as multiple different reference numbers

In [10]:
chars = ['Estraven', 'Argaven','Genly Ai']
char_refs = {}

In [11]:
for character in chars:
    ref_token = lhd_entit[lhd_entit['text']==character]
    ref_token_list = np.unique(ref_token['COREF'].values.tolist())
    char_refs[character] = ref_token_list
    
char_refs

{'Estraven': array([380, 385, 412, 498]),
 'Argaven': array([ 61, 377, 397]),
 'Genly Ai': array([376, 384])}

In [12]:
lhd_entit[lhd_entit['COREF']==498]

      COREF  start_token  end_token  prop  cat               text
6595    498        44803      44804  PROP  PER  DARKNESS Estraven
6604    498        44855      44855  PROP  PER           Estraven